conf/local
*.autosave
tmp
test
dssget_tmp
backup
design
figure
results
*.zip
*.txt
*.Txt
*.asv
*~
*.exe
*.mat
*.fig
*.mdb
#*.dss
*.csv
*.htm
*.png
*.pdf
*.kmz
*.xlsx
*.xls
*.axd
*.epr
*.JIN
*.MDB
*.docx
*.doc
*.mdl
*.TCW
*.tcw
*.gif
*.js
*.html
*.ps
*.jar
*.tar
*.css
*.mov
*.avi
*.mp4
*.mp3
*.log
*.slx
*.axd
*.JIN
*.epr
*~*
*.db
*.dat
*.DSV
*.dbl
*.xlsm
*.tif
*.jpg
*.mex
*.mexw64
355/
480/
520/
909/
971/
jens/Input_CYME/*.txt
